<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script|Dosis|Montserrat|Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Home</title>
  </head>
  <body>
      <img src="/imagini/logo.jpg" alt="logo" width="190px">
      <hr>
      <div class="meniu">
      <nav>
        <ul>
                <li><a th:href="@{/home}">Home</a></li>
               <!--<li><a th:href="@{/productie}">Productie</a></li>-->
                <li><a th:href="@{/produse}">Produse</a></li>
                <li><a th:href="@{/chestionar}">Chestionar</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
      </nav>
      <br><br>
<h2 style="text-align: center"> Multumim pentru informatiile oferite!</h2>
    </body>
</html>